.bg-image {
  background-image: url("/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes slide{
  to{
    transform:translateX(0);
  }

  from{
    transform: translateX(-100%);
  }
}

/* @keyframes slide2 {
  to {
    transform: translateX(-100%);
  }

  from {
    transform: translateX(-200%);
  }
} */

.logosSlide{
    white-space: nowrap;
    animation: 10s slide infinite linear;
}

.logosSlide:hover {
  animation-play-state: paused;
}

